language: c
dist: xenial
sudo: required

branches:
  except:
  - "/^feature.*$/"
  - "/^fix.*$/"
  - "gh-pages"
git:
  depth: 9999999
matrix:
  include:

# Coverity build, must be the first!
  - os: linux
    compiler: gcc
    env:
      - MATRIX_EVAL="-DSCLOG_CTEST_TOOLCHAIN_FILE:STRING=/tmp/sclog/toolchains/x86-linux-gcc-5.cmake -DSCLOG_CTEST_CONFIGURATION_TYPE:STRING=Debug"
    before_install:
      - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-
    addons:
      coverity_scan:
        project:
          name: "gatzka/sclog"
          description: "Build submitted via Travis CI"
        notification_email: stephan.gatzka@gmail.com
        #build_script_url: https://raw.githubusercontent.com/gatzka/sclog/coverity_scan/.travisci_build_coverity_scan.sh
        #build_command_prepend: "cov-configure --comptype gcc"
        build_command: "cmake -DCMAKE_BUILD_TYPE:STRING=Debug ./ ; cmake --build ./"
        branch_pattern: coverity_scan
      apt:
        packages:
        - cmake
        - curl
        - ca-certificates
        - cmake-data
        - ninja-build
        - libsystemd-dev

  - os: linux
    compiler: gcc
    script:
    - cmake -DCMAKE_C_COMPILER:STRING=gcc -DCMAKE_CXX_COMPILER:STRING=g++ -DCMAKE_BUILD_TYPE:STRING=Debug ./
    - build-wrapper-linux-x86-64 --out-dir bw-output make
    - sonar-scanner
    addons:
      sonarcloud:
        organization: "gatzka-github"
        token:
          secure: "h5ClQS3t+T2buKQivnU9+9XRQucU+54MN4n3lWk0h6MK8VbDlLECoduus+iGyjyUzNDmG99z7Kn5DbE201ZQhaozNk2Z4JU5bzf5NUPW2yk9YaAuqpC/S6i9YyeKLtwe9GsFHbirxmwLxtqx9hU10Hxb9Tm1Pr6RFWkN2KW0cUldyyWRgZ96i3dUPBkL7mflk2GtSjJWHaju6aDYTyQWv8fdBJvtXxALb9TSFDM0+mQ3q9+k/Wz5VIkOk19YDTI3pA53/315UJ+xZzERcTiiePFNzGHN7sso7HLTTTwlQ0UU2tdyXUpwTMlaW4KPXsAF9w2tV4RkUueKMixthMTsscdcTqkCVa8LkaD0gwOQm9oPghN7STbbSLqFPTQup3LAe9uSVjGNjEhehXNMW6wdYi2Tw5jKtuaZcp+N9oDVRgnf0wTnaKLez6/WvPom3OyE4rQnM/DTwm4Nozljo/OouyPwXVYhRK38VX7Ee99EmayuRAXDUsMJDKawrDp0jDmxkWKyAYMatfsBCzSY0ngIb4yx6PYWBBt1HZYm5P1TsmQ8/Tr25Vgo60R/b7kKZGjNi8xsdq/9Jufb+/RWTNudIHJhpTFzWttK6siXWE2CLC4hwiqN+Adl6frmk2kjvB9hzGomPGiYvrEX0012b292ynEitOPmVyMOExsJ3YLTuW4="
      cache:
        directories:
          - '$HOME/.sonar/cache'
      apt:
        packages:
        - cmake
        - cmake-data
        - libsystemd-dev

install:
- pip install --user gcovr

script:
- if [ "$COVERITY_SCAN_BRANCH" != 1 ]; then
    ctest -VV -S build.cmake ${MATRIX_EVAL};
  fi

env:
  global:
  # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
  # via the "travis encrypt" command using the project repo's public key
  - secure: "CGZ0Xcwvbb/7lsgxvaa1jq1C1u2zQH+gj8oX/zwfiXeyMJe6L8JdPZqCXMn8+tKGzys+MXI3yewKFMGcmTJMJH2eZfs/hZ89D/RExTTDSuPEnZqQspHoVGsdZQx4K+d5f4gFzgm8hCtegpLNJte7Rd9wc2HPT4zk7DjKOSr3DM2B6pvHKKF+um0Fco0VPY2LByWVRp65IcpgeWHX2Q6UjGeNT00qgfySpOvBJUHsI288sBUnK1cB3xBWV1npdZQx/uS51d0As+dm+vrRafYx/KpKKUB21ERAFoC0+7NWXRp+agrnmpXtFpak96q3IbrZi8oXDQjUVTlSA1fhiM5pFJp4IycGYqNY3xAx2fs2lTXdhGXU7uNns95stnwUrcLVf9uwvVCHw1RSOoTQLG2h4Ju0Mv1jalHux760xlYODdBa5Otdcmxqkq37thGMC4LB3jNCCeYh+KescqJ4sHbaVLVssxPNMfNLqXQNY+7gQeXBbb5mIUD8mloga/LCQ6Tw+JEtwK6+gBIJvyZ+C7m8u+V8j2vRhGbqZSmvcZRJkAMGdwvrWMomiVR0EtYnrk3MoMcvQDWbunx4t7o627PMNo3Znd6uY8wPguRQY1OpHCKm6+faSacromRtuwD37W3w1Lw/oiZs/nOnCsMR2rCN5KiP0e7m3FbWSw5vleljujs="

  # The next declaration is the encrypted personal access token to push
  # doxygen documentatio to gh-pages.
  - secure: "UcURlEoEZBChSziTP1Lb6RGZePZ4jvclZriOPGlCnqCgyHuHB1JSM0fhUo47WkSOUX9/UbQliTvrUm9L29+BOZG13EzG1VJ6T1NHKOsfLRoI/616oH2Sbpwww7sI9fA1S5Z87o+CZMitSYuOCiKteSev9ssk/wJ6Vvfh16KKIJDRVR3w0nhuPslngh6JntWJUNI7xjnZkihuACu6bpcQwb9FIBm5KJY07XEmqCZ+J1z1byRbfIBALAFRrXOSpwJ0uu8NupAQRJYQWxosd5yJwgPyVlY4R1pt5WiZPNLNih3cmmPZlcufg30zcDLAu5m0Emz3LYsntO2mnMzbHIpCd6yjDb2IkDJN7jQ9y2prbL/8n0C3PUF2bxKXmDnSaHChQjOgr50IzXjx5QbzaLV3LNTQpZNHvin2ymMhFjLPGMDbnPFs3k04QJJcGwZitaBK3mcSWyCrZsts/bU9FDloblUrN2WlO6ChuKo7/0AHnBGQGl3D2A0xyvec9IXwx2fSORV/J3gTabkxCbMhhNIe9TJCh9g5sEE/08XaJxdaMOfS41/odOBNKZYQYrrUts7GbD9w/9xMd61yYtmpwRU/AXXDzTWWDRwdpLMgETqHjfAaL7s89M0gCbHEa/Mk2GQ2+tunjUrXTZrOiq1oX3aVgcc0uFd/V1zuMLRWHorAoJg="
