name: CI build

on: [push, pull_request]

jobs:
  gcc-9-debug:
    name: gcc-9 Debug
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: ctest build
      uses: ./.github/actions/ctest-build
      with:
        install_deps: ./.github/actions/ctest-build/install-deps.sh
        ctest_toolchain_file: /tmp/sclog/toolchains/x86-linux-gcc-9.cmake
        ctest_configuration_type: Debug

  gcc-9-release:
    name: gcc-9 Release
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: ctest build
      uses: ./.github/actions/ctest-build
      with:
        install_deps: ./.github/actions/ctest-build/install-deps.sh
        ctest_toolchain_file: /tmp/sclog/toolchains/x86-linux-gcc-9.cmake
        ctest_configuration_type: Release

  gcc-valgrind:
    name: gcc Valgrind
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: ctest build
      uses: ./.github/actions/ctest-build
      with:
        install_deps: ./.github/actions/ctest-build/install-deps.sh
        ctest_toolchain_file: /tmp/sclog/toolchains/x86-linux-gcc-9.cmake
        ctest_configuration_type: Valgrind

  clang-9-debug:
    name: clang-9 Debug
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: ctest build
      uses: ./.github/actions/ctest-build
      with:
        install_deps: ./.github/actions/ctest-build/install-deps.sh
        ctest_toolchain_file: /tmp/sclog/toolchains/x86-linux-clang-9.cmake
        ctest_configuration_type: Debug

  clang-9-release:
    name: clang-9 Release
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: ctest build
      uses: ./.github/actions/ctest-build
      with:
        install_deps: ./.github/actions/ctest-build/install-deps.sh
        ctest_toolchain_file: /tmp/sclog/toolchains/x86-linux-clang-9.cmake
        ctest_configuration_type: Release

  clang-9-UndefinedBehaviorSanitizer:
    name: clang-9 UndefinedBehaviorSanitizer
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: ctest build
      uses: ./.github/actions/ctest-build
      with:
        install_deps: ./.github/actions/ctest-build/install-deps.sh
        ctest_toolchain_file: /tmp/sclog/toolchains/x86-linux-clang-9.cmake
        ctest_configuration_type: UndefinedBehaviorSanitizer

  clang-9-LeakSanitizer:
    name: clang-9 LeakSanitizer
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: ctest build
      uses: ./.github/actions/ctest-build
      with:
        install_deps: ./.github/actions/ctest-build/install-deps.sh
        ctest_toolchain_file: /tmp/sclog/toolchains/x86-linux-clang-9.cmake
        ctest_configuration_type: LeakSanitizer

  clang-9-MemorySanitizer:
    name: clang-9 MemorySanitizer
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: ctest build
      uses: ./.github/actions/ctest-build
      with:
        install_deps: ./.github/actions/ctest-build/install-deps.sh
        ctest_toolchain_file: /tmp/sclog/toolchains/x86-linux-clang-9.cmake
        ctest_configuration_type: MemorySanitizer

  clang-9-AddressSanitizer:
    name: clang-9 AddressSanitizer
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: ctest build
      uses: ./.github/actions/ctest-build
      with:
        install_deps: ./.github/actions/ctest-build/install-deps.sh
        ctest_toolchain_file: /tmp/sclog/toolchains/x86-linux-clang-9.cmake
        ctest_configuration_type: AddressSanitizer

  clang-9-scanbuild:
    name: clang-9 scan-build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: ctest build
      uses: ./.github/actions/ctest-build
      with:
        install_deps: ./.github/actions/ctest-build/install-deps.sh
        ctest_toolchain_file: /tmp/sclog/toolchains/x86-linux-clang-9.cmake
        ctest_analyzer: scan-build-9

  clang-9-clangtidy:
    name: clang-9 clang-tidy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: ctest build
      uses: ./.github/actions/ctest-build
      with:
        install_deps: ./.github/actions/ctest-build/install-deps.sh
        ctest_toolchain_file: /tmp/sclog/toolchains/x86-linux-clang-9.cmake
        ctest_analyzer: clang-tidy-9

  gcc-powerpc-7:
    name: powerpc-gcc-7 Release
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: ctest build
      uses: ./.github/actions/ctest-build
      with:
        install_deps: ./.github/actions/ctest-build/install-deps.sh
        ctest_toolchain_file: /tmp/sclog/toolchains/powerpc-linux-gcc-7.cmake
        ctest_configuration_type: Release
		cmake_options: SCLOG_CMAKE_OPTIONS:LIST=SCLOG_EXAMPLES=OFF;SCLOG_CONFIG_LINUX=OFF

  doxygen:
    name: generate doxygen doumentation
    runs-on: ubuntu-latest
    needs: [gcc-9-debug, gcc-9-release, gcc-valgrind, clang-9-debug, clang-9-release, clang-9-UndefinedBehaviorSanitizer, clang-9-LeakSanitizer, clang-9-MemorySanitizer, clang-9-AddressSanitizer, clang-9-scanbuild, clang-9-clangtidy]
    if: contains(github.ref, 'master')

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: cmake build
      uses: ./.github/actions/cmake-build
      with:
        install_deps: ./.github/actions/cmake-build/install-deps.sh
        cmake_build_target: docs
    - name: GitHub Pages Deploy
      uses: ./.github/actions/publish-gh-pages
      env:
        BUILD_DIR: build/src/docs/
        GH_PAT: ${{ secrets.GH_PAT }}
        GH_PAGES_SUBDIR: ./doc

